{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE BOOKEST</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'books/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
    </script>
</head>

<body>
    <button id="change" class="btn btn-secondary btn-sm">antique</button>
    <div class="topPıc">
        <div class="rounded" id="topItems">
            <img id="bookIconModern" class="rounded-circle" src="{% static 'books/images/bookIconModern.png' %}" alt="not loaded">
            <img id="bookIconHistory" style="display: none;" class="rounded-circle" src="{% static 'books/images/bookIconHistory.png' %}" alt="not loaded">
            <div id="title">BOOKEST</div>
            <div id="subTitle">Internet Book Database</div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <span class=" rounded mobileSearch" id="profile">{{ user.username }}</span>
    {% endif %}
    <nav id="topBar" class="navbar navbar-light">
        <form class="form-inline searchForm" id="searchForm" method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <div class="input-group" id="form">
                {{form}}
                <button id="searchButton" class="btn btn-light btn-sm" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg></button>
            </div>
          </form> 
        {% if user.is_authenticated %}  
        <a class="nav-link" href="{% url 'my_books' %}"><span class="topNavItem rounded desktop">My Books</span> </a>
        {% endif %} 
        {% if user.is_authenticated %}  
        <a class="nav-link " href="{% url 'my_reviews' %}"><span class="topNavItem rounded desktop">My Notes</span> </a>
        {% endif %} 
        {% if user.is_authenticated %}
        <a id="logOut " class="nav-link" href="{% url 'logout' %}"><span class="topNavItem rounded desktop">Log Out</span></a>
        {% else %} 
        <a class="nav-link loginIcon" href="{% url 'login' %}"><span class="topNavItem rounded desktop">Login</span></a>
        <a class="nav-link " href="{% url 'register' %}"><span class="topNavItem rounded desktop">Register</span></a>
        {% endif %}
        <button class="navbar-toggler menu mobile " id="menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="collapse mobile" id="navbarToggleExternalContent">
        <div id="menuItems" class="p-3">
            {% if user.is_authenticated %}  
            <a class="nav-link mobileNav" href="{% url 'my_books' %}"><span class="mobileNav rounded">My Books</span> </a>
            {% endif %} 
            {% if user.is_authenticated %}  
            <a class="nav-link mobileNav" href="{% url 'my_reviews' %}"><span class="mobileNav rounded">My Notes</span> </a>
            {% endif %} 
            {% if user.is_authenticated %}
            <a id="logOut" class="nav-link mobileNav" href="{% url 'logout' %}"><span class="mobileNav rounded">Log Out</span></a>
            {% else %} 
            <a class="nav-link mobileNav" href="{% url 'login' %}"><span class="mobileNav rounded">Login</span></a>
            <a class="nav-link mobileNav" href="{% url 'register' %}"><span class="mobileNav rounded">Register</span></a>
            {% endif %} 
        </div>
    </div>
    <div id="blockBody">
        {% block body %}
        {% endblock %}
    </div>
    <script  src="{% static 'books/script/func.js' %}"></script>
    <script  src="{% static 'books/script/theme.js' %}"></script>
    <script  src="{% static 'books/script/script.js' %}"></script>
</body>
</html>