{% extends 'books/layout.html' %}
{% load static %}
{% block body %}
<div class="bookSwitch review" >
    <h4 id="myRevHeader">My Notes:</h4>
    <div class="reviewSection">
        {% for review in reviews %}
        <div class="myReviewItem"><hr> 
            <div class="lastDelete" ><button style="padding-top: 0.1rem; padding-bottom: 0.1rem;" id="{{review.id}}" class="delete btn btn-danger btn-sm shadow-none">X</button></div>
            <div style="display: flex;">
                <a class="reviewImage" href="/book/{{review.on_book}}">
                    <img width="60" src="http://books.google.com/books/content?id={{review.on_book}}&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api" alt="">
                </a>
                <div class="reviewUsername">{{review.book}}<div class="lastTime">{{review.time}}</div></div>
            </div>
            
            <div class="reviewContent lead">{{review.content}}</div> 
        </div>     
        {% empty %}
            <h5 class="pageEnd">no notes yet.</h5>
        {% endfor %}
    </div>
</div>
<script src="{% static 'books/script/myNotes.js' %}"></script>

{% endblock %}