{% extends "books/layout.html" %}

{% block body %}
<h2 id="searchHeader">{{ message }}</h2>

<div id="container">
    {% for book in books %}
    <div data-isbn="{{book.isbn}}" data-id="{{book.id}}" class="bookDiv bookDivModern">
        <div class="lamp lampModern">
            <span class="rounded-circle candles candlesModern candleLeft">🕯️</span><span class="rounded-circle candles candlesModern candleRight">🕯️</span>
        </div>
        <h6 class="bookName">{{book.title}}</h6>
        <img src="{{book.image}}" width="120" alt="no image">
        <h6 class="author">{{book.authors}}</h6>
    </div>
    {% endfor %}
</div>
<h4 data-bookInfo="{{bookInfo}}" id="moreResults">{{ load }}</h4>
{% endblock %}